.image {
  text-align: center;
  padding-top: 200px;
}

.search {
  text-align: center;
  position: relative;
  width: 600px;
  padding-top: 6px;
  margin: 0 auto;
}

.searchbar {
  text-align: center;
  position: relative;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  
}

a {
  text-decoration: none;
  display: block;
  padding: 8px;
}

.topleft {
  float: left;
}

.topright {
  float: right;
}

.bottomleft {
  float: left;
  padding-top: 400px;
}

.bottomright {
  float: right;
  padding-top: 400px;
}